@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Righteous&family=Roboto&display=swap');



    /*personaliza os inputs*/
    .modal-cadastro input[type=text],
    .modal-cadastro input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        -webkit-border-radius: 9px;
        border-radius: 9px;
    }
   
    /*estilo para TODOS os botões do modal*/
    .modal-cadastro .login-button button {
        background-color: #ffa622;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    .modal-cadastro.cadastro-button button {
        background-color: #ffa622;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
   


    /* hover para os botões */
    .modal-cadastrobutton:hover {
        opacity: 0.8;
    }
   
    /*set extra style for the cancel button*/

    .cancel-button{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .cancel-button button {
        color: white;
        border: 0px white;
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
   
    /*centre the display image inside the container*/
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }
   
    /*set image properties*/
    img.avatar {
        width: 30%;
    }
   
    /*set padding to the container*/
    .container {
        display: flex;
        flex-direction: column;
        
        padding: 16px;
        border-bottom-right-radius:  30px;
        margin-inline:3rem;
    }

    .container-forgotsenha {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 16px;
        border-bottom-right-radius:  30px;
    }

    .container ::placeholder{
        display: flex;
    }
     
    /*set the forgot password text*/
    span.psw {
        color: black;
        float: right;
        padding-top: 16px;
    }

    .textos-abaixo-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .check-lembrar{
        display: flex;
        flex-direction: row;
        float: left;
    }

    .span-cadastro span{
        font-size: 0.2px;
        color: black;
        float: right;
        padding-top: 16px;
    }
   
    /*set the Modal background*/
    .modal-cadastro-flutuante .modal-cadastro{
        font-family: 'Fredoka', sans-serif;
        color: black;
        display: none;
        position: fixed;
        z-index: 3;

        top: 87%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        width: 28%;
        height: 180%;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 10vw;

        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.349));


    }

    .modalfundo-cadastro{
        display: none;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0%;
        width: 300vw;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

   
    /*style the model content box*/
    .modal-cadastro .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 80%;
        border-top-left-radius: 30px;
        border-bottom-right-radius:  30px;
    }

    .cadastro-titulo span{
        font-size: 1.8rem;
    }
   
    /*style the close button*/
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
     
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
   
    /* add zoom animation*/
    .animate {
        -webkit-animation: animatezoom 0.45s;
        animation: animatezoom 0.45s
    }
     

    
    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
     
    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
     
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }



    .nome-sobrenome {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .nome-sobrenome .caixa {
        width: 50%;
        float: left;

    } 

    #painel-negrito{
        font-size: 30rem;
    }